<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @project.date %>
</p>

<p>
  <strong>Projectid:</strong>
  <%= @project.projectID %>
</p>

<p>
  <strong>Projectfile:</strong>
  <%= @project.projectFile %>
</p>

<p>
  <strong>File:</strong>
  <%= @project.file %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
